.head-text {
    font-size: small;
    display: flex;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.app_about {
    flex: 1;
    width: 100%;
    flex-direction: column;
}

.app__profiles {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;

    list-style: none;
}
